fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-openai
langchain-weaviate
python-dotenv
openai
weaviate-client>=4.0.0
# python-dotenv is used to load environment variables from a .env file