fastapi==0.115.13
fastapi[standard]==0.115.13
groq==0.28.0
langchain==0.3.25
langchain_community==0.3.25
langchain_core==0.3.65
langchain_huggingface==0.3.0
langgraph==0.4.8
pydantic==2.11.7
python-dotenv==1.1.0
torch==2.7.0
transformers==4.51.3
weaviate_client==4.14.4
openai==1.88.0
uvicorn==0.34.2
